@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #c2d8cb;
  --gradient-color-2: #91bfab;
  --gradient-color-3: #648c7f;
  --gradient-color-4: #365b6d;
}



